*{
  margin: 0;
  padding: 0;
}
.cabecalho{
    background-color: rgb(175, 123, 224);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding:24px 0 ;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(rgb(175, 123, 224),rgb(133, 0, 153));
    color: black;
    display: flex;
}
.escola-conteudo{
    width: 35%;
}